@font-face {
    font-family: "NB";
    src: url(../assets/fonts/NBInternationalProBoo.ttf);
}
@font-face {
    font-family: "rejoy";
    src: url(../assets/fonts/Rejouice-Headline.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NB";
}

html,
body {
    height: 100%;
    width: 100%;
}
#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
}

#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#page1-content {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#cursor {
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
#cursor h5 {
    font-size: 1.15vw;
    font-weight: 500;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
}
nav h3 {
    font-size: 1.4vw;
    font-weight: 100;
}
nav h4 {
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content h1 span{
    font-family: rejoy;
    font-size: 27vw;
    font-weight: 100;
    line-height: 27vw;
    display: inline-block;
}
#page2 {
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 5vw 2.8vw;
}
#page2-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #00000092;
}

#page2-top h3 {
    font-size: 1.7vw;
    font-weight: 500;
    width: 26%;
}
#page2-top h4 {
    font-size: 1.7vw;
    font-weight: 500;
}
.elem {
    overflow: hidden;
}
.elem h1 {
    font-size: 4.2vw;
    font-weight: 500;
}
/* page 3 */
#page3 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 3vw;
}
#page3-top {
    text-align: center;
}
#page3-top h4 {
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
}
#page3-top h4 span {
    font-size: 0.65vw;
    background-color: #000;
    color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
}
#page3-top h2 {
    font-size: 4vw;
    font-weight: 500;
    text-decoration: underline;
}
#page3-elements {
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vw;
}
#page3-elements .box {
    height: 100%;
    width: 32.5%;
    position: relative;
}
#page3-elements .box img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.6s;
}
#page3-elements .box video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#page3-elements .box:hover img{
    opacity: 0;
}
/* page 4 */
#page4 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page4 video {
    height: 100%;
}
#page4 svg {
    position: absolute;
    height: 65%;
}

#page5 {
    height: 100vh;
    width: 100%;
    padding: 4vw 0;
    position: relative;
}

#page5 h1 {
    font-size: 10vw;
    font-family: "rejoy";
    font-weight: 100;
    border-bottom: 1px solid #111;
    width: 95%;
    margin-left: 2%;
}

#swiperdiv {
    height: 60vh;
    width: 100%;
    position: relative;
    margin-top: -5%;
}
.swiper {
    width: 130%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .swiper-slide img {
    display: block;
    width: 18%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }

  #loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 10px;
    font-size: 2vw;
  }

  footer {
    height: 100vh;
    width: 100%;
    padding: 0 2vw;
    position: relative;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #footer-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #left-content h3{
    font-size: 3rem;
    color: #FFFCF1;
  }

  #left-content button {
    margin-top: 1.5rem;
    padding: 1.7rem 1.7rem;
    font-size: 1rem;
    color: #FFFCF1;
    background-color: #111;
    border-radius: 5rem;
  }
  #left-content button:hover {
    background-color: #FFFCF1;
    color: #111;
    cursor: pointer;
    transition: all ease 0.5s;
  }

  #right-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav-links a {
    display: inline-block;
    text-decoration: none;
    color: #FFFCF1;
    font-size: 1.5rem;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
  }

  .social-links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFFCF1;
  }
  #footer-bottom {
    overflow: hidden;
  }
  #footer-bottom h1 span {
    display: inline-block;
  }
  #footer-bottom h1 {
    color: #FFFCF1;
    font-family: "rejoy";
    font-size: 25vw;
    font-weight: 100;
    line-height: 27vw;
  }